.cart-page {
	a {
		color: #333;
		// text-decoration: underline;
		font-weight: 500;
	}

	.purchase {
		.purchase-container {
			border-radius: 4px;
			padding: 16px;
			background-color: white;

			.ant-statistic-title {
				font-size: 14px;
			}

			.ant-statistic-content {
				margin-bottom: 8px;
			}

			button {
				margin: 1rem 0;
				background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
				color: white;
				font-weight: 500;
        border: none;
        
        &:disabled {
          background: #ccc;
        }
			}
		}
	}
}
