.header {
	background-color: var(--primary-color);
	height: 80px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999;

	@media (max-width: 768px) {
		padding: 0 12px;
	}

	.container-header {
		height: 100%;
		display: flex;
		justify-content: space-between;
		max-width: 1200px;
		margin: auto;

		.logo-link {
			margin: auto;
			height: 100%;
			display: flex;
			img {
				margin: auto;
				height: 70%;
			}
			img:last-child {
				height: 24px;
				@media (max-width: 992px) {
					display: none;
				}
			}
			// @media (max-width: 768px) {
			// 	display: none;
			// }
		}

		.search {
			margin: auto;
			padding: 0 12px;
			max-width: 600px;
		}

		.login-btn {
			margin: auto;
			font-size: 16px;
			color: white;
		}

		.cart-btn {
			margin: auto;
			font-size: 16px;
			color: white;
		}
	}
}

.menu-mobile-btn {
	margin: auto;
	padding-right: 0;
	background-color: transparent;
	border: none;
	color: white;
	display: none;
	&:hover {
		color: white;
		background-color: transparent;
	}
	&:active {
		color: white;
		background-color: transparent;
	}
	svg {
		font-size: 30px;
	}
	@media (max-width: 768px) {
		display: block;
	}
}
