.detail-order {
	.list {
		background-color: white;
		padding: 0 1rem;
		border-radius: 5px;
		.blur {
			filter: blur(4px);
		}

		button {
			background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
			color: white;
			font-weight: 500;
			border: none;

			&:disabled {
        background: silver;
        &:hover {
          color: white;
        }
			}
		}
	}
}
