.login-overlay {
	width: 240px;
	border-radius: 6px;

	button {
		background-color: #fdd835;
		font-weight: 500;
		font-size: 16px;
		width: 100%;
		padding: 8px;
		border: none;
		cursor: pointer;

		&:hover {
			background-color: #fde05c;
		}
	}
}

.login-panel {
	.ant-modal-body {
		padding-bottom: 54px;

		.form {
			// background-color: red;

			.ant-row {
				margin-bottom: 6px;
			}
		}

		.btn-group {
			display: flex;
			justify-content: space-around;

			button {
				padding: 18px 19px;
				height: 64px;
				display: flex;
				border-radius: 50%;
				border: none;
				outline: none;
				&:disabled {
					cursor: not-allowed;
				}
				&:hover {
					background-color: none;
				}
				svg {
					margin: auto;
					font-size: 24px;
					color: white;
				}
			}

			span:first-child button {
				background-color: #4267b2;
			}

			span:last-child button {
				background-color: #e02f2f;
			}
		}
	}
}

.user-group {
	margin: auto 0;
	display: flex;

	button {
		margin: auto;
		.notify-button {
			font-size: 28px;
			color: white;
			cursor: pointer;
			vertical-align: center;
		}
	}

	.btn-link {
		span {
			color: white;
			font-size: 16px;
			font-weight: 500;
		}
	}
}

// @media (max-width: 768px) {
// 	.desktop-screen {
// 		display: none;
// 	}
// }

.user-menu {
	min-width: 360px;

	li {
		padding: 12px;
		font-size: 16px;
		&:not(:first-child) {
			border-top: 1px #ccc solid;
			background-color: #f8f8f8;
		}
	}
	.user-menu-balance {
		display: flex;
		justify-content: space-between;

		button {
			margin: auto 0;
		}
	}
}

.fetch-test {
	display: flex;
	flex-direction: column;

	button {
		margin: auto;
	}
	.cash-fetch {
		background-color: #0b65b9;
		width: 100%;
		border: 1px #003a8c solid;
		border-radius: 4px;
		padding: 12px;
		padding-bottom: 0;
		margin-top: 1rem;

		h3 {
			color: white;
		}

		p {
			color: white;
			font-size: 14px;
		}
	}
}

@media (max-width: 768px) {
	.desktop-screen {
		display: none;
	}
}

.mobile-screen {
	display: none;
	@media (max-width: 768px) {
		display: block;
	}
}
