@import '~antd/dist/antd.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap';

.layout {
	background-color: #F0F2F5;
	min-height: 100vh;
}

.container {
	padding: 6px 2%;
	max-width: 1200px;
	width: 100%;
	margin: auto;
}

.drawer-mobile {
	.ant-drawer-body {
		padding: 0;
		background-color: #f0f0f0;

		.ant-menu-item {
			span {
				font-size: 16px;
				font-weight: 450;
				a.active::before {
					background-color: #69c1ff17;
					border-right: 6px #1890ff solid;
				}
			}
		}
		.ant-menu-submenu-title {
			span {
				margin-right: 6px;
			}
		}
	}
	@media (min-width: 768px) {
		display: none;
	}
}
